<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace不能使用别名机制。必须写全限定接口名称。带有包名的。-->
<mapper namespace="com.shaluy.mapper.AdminRoleMapper">

    <!-- 用于select查询公用抽取的列 -->
    <sql id="columns">
        select id, role_id, admin_id, create_time, update_time, is_deleted
        from acl_admin_role
	</sql>

    <!--根据用户id获得角色id-->
    <select id="getRoleIdByAdminId" resultType="Long">
        select role_id from acl_admin_role where admin_id = #{adminId} and is_deleted = 0
    </select>

    <!--根据用户id删除角色id-->
    <update id="deleteByAdminId">
        update acl_admin_role set is_deleted = 1 where admin_id = #{adminId}
    </update>


    <!--根据用户id和角色id新增-->
    <insert id="addByAdminIdAndRoleId">
        insert into acl_admin_role(role_id, admin_id) values(#{roleId},#{adminId})
    </insert>

</mapper>
